{# src/Kodify/BlogBundle/Resources/views/Comment/form.html.twig #}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
	    <form action="{{ path('create_comment', { 'postId' : post.id } ) }}" method="post">
	    	<div class="form-group">
	    	{{ form_label(form.author, 'author') }}
            {{ form_widget(form.author, {'attr': {'class': 'form-control'}})  }}
	    	</div>
	    	<div class="form-group">
	    	{{ form_label(form.text, 'text') }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control'}})  }}
	    	</div>
	    	{{ form_row(form._token) }}
			<button type="submit" class="btn btn-success pull-right">create comment</button>
		</form>
	</div>
</div>