{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>
    {% if comments|length %}
        <p>There are {{ comments|length }} comments</p>
    {% else %}
        <p>There are no comments</p>
    {% endif %}
    {% for comment in comments %}
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			Comment by {{ comment.author.name }}
    		</div>
    		<div class="panel-body">
				{{ comment.text }}
        	</div>
        </div>
    {% endfor %}
    <p>Create comment</p>
    {% block form %}
    {% include 'KodifyBlogBundle::Post/create.html.twig' %}
    {% endblock %}
{% endblock %}