{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    {% if message is defined %}
        <div class="bg-primary">{{ message }}</div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>

    <hr />
    <h5>Ratings</h5>
    {% if post.ratings|length == 0 %}
        <p>There are no ratings for this post.</p>
    {% else %}
        <p>Article rating: <strong id="rating">{{ post.rating }}</strong>. Based on {{ post.ratings|length }} ratings. </p>
    {% endif %}
    <div class="form" id="rating_form">
        {{ form_start(rating_form) }}
        {{ form_widget(rating_form) }}
        {{ form_end(rating_form) }}
    </div>

    <hr />
    <h5>Comments</h5>
    {% if post.comments|length == 0 %}
        <p>There are no comments for this post yet.</p>
    {% else %}
        <p>There are {{ post.comments|length }} comments.</p>
        <div id="comments">
        {% for comment in post.comments %}
            <div class="panel panel-info">
                <div class="panel-heading">by: {{ comment.author.name }} <span class="pull-right">on: {{ comment.createdAt|date("m/d/Y") }}</a></div>
                <div class="panel-body">{{ comment.text }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <hr />

    <div class="form" id="comment_form">
        <h5>Write your comment:</h5>
        {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        {{ form_end(comment_form) }}
    </div>
    <form><button id="create_comment">Create comment</button></form>
    <script>
        $(function() {
            $("#comment_form").hide();
            $("#create_comment").click(function(e) {
                e.preventDefault();
                $("#create_comment").hide();
                $("#comment_form").show();
            });
        });
    </script>
{% endblock %}