{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>

    <h3>Comments</h3>
    <hr/>
    {% for comment in post.comments %}
        <blockquote {{ cycle(['class=blockquote-reverse', ''], loop.index) }}>
            <p>{{ comment.content }}</p>
            <footer>Comment by: {{ comment.author }} on: {{ comment.createdAt|date("m/d/Y") }}</footer>
        </blockquote>
    {% else %}
        There are no comments
    {% endfor %}
    <hr/>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}