{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="row">
		<div class="col-xs-12">
		   	<div class="panel panel-default">
		        <div class="panel-heading">
		            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
		            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
		            <span class="pull-right ratings">rating: <span class="rating_num">{% if total_rating == 0 %}there are no ratings{% else %}{{ total_rating }}{% endif %}</span> | </span>
		            {% if rated == false %}
		            <span class="pull-right rating">rate this post 
		            <span onclick="rate_post(1, {{ post.id }}, '{{ path('rate_post') }}')">1</a> 
		            <span onclick="rate_post(2, {{ post.id }}, '{{ path('rate_post') }}')">2</a> 
		            <span onclick="rate_post(3, {{ post.id }}, '{{ path('rate_post') }}')">3</a> 
		            <span onclick="rate_post(4, {{ post.id }}, '{{ path('rate_post') }}')">4</a> 
		            <span onclick="rate_post(5, {{ post.id }}, '{{ path('rate_post') }}')">5</a> | </span>
		            {% endif %}
		        </div>
		        <div class="panel-body">
		            {{ post.content }}
		        </div>
		    </div>
		    <hr>
		    {% include 'KodifyBlogBundle:Comment:List/index.html.twig' with { 'comments': comments } %}
		    <hr>
			{% if app.user is not null %}
	    	{% include 'KodifyBlogBundle:Comment:form.html.twig' with { 'form': form  } %}
	    	{% else %}
	    	<hr>
			<a class="btn btn-info pull-right" href="{{ path('login') }}">Login to comment</a>
			{% endif %}
	    </div>
    </div>
{% endblock %}