{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Comments
            <span class="pull-right"><a class="btn btn-xs btn-primary" href="{{ path('create_comment',{postid: post.id}) }}">Add Comment</a></span>
        </div>
        <div class="panel-body">
            {% include "KodifyBlogBundle:Comment:view.html.twig" %}
        </div>
    </div>



{% endblock %}
