{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
    	<h2>Comments</h2>
	    {% for comment in comments %}
	        <div class="col-xs-8 col-xs-offset-2 panel panel-default">
	            <div class="panel-body">
	                {{ comment.text }}
	                <span class="pull-right">by: {{ comment.author.name }} on: {{ comment.createdAt|date("m/d/Y") }}</span>
	            </div>
	        </div>
	    {% else %}
	    <b>There are no comments. Be the first one!</b>
	    {% endfor %}
    </div>
{% endblock %}