{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>

    <h3>Comments</h3>

{% if comments is empty %}
    <div class="panel-body">
        No comments here.
    </div>
{% else %}
    {% for comment in comments %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                by: {{ comment.author.name }} on: {{ comment.createdAt|date("m/d/Y H:i") }}
            </div>
            <div class="panel-body">
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
{% endif %}

    <h3>Add a comment</h3>

    {{ form_start(form_comment) }}
    {{ form_errors(form_comment) }}

    <div class="form-group">
        <label>{{ form_label(form_comment.author) }}</label>
        {{ form_widget(form_comment.author) }}
    </div>

    <div class="form-group">
        <label>{{ form_label(form_comment.content) }}</label>
        {{ form_widget(form_comment.content) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_comment.publish) }}
    </div>
    {{ form_widget(form_comment.post, {'value' : post.id}) }}
    {{ form_end(form_comment) }}



{% endblock %}