{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
    </div>

    <div class="comments">
        {% for comment in comments %}
            <span class="comment">by: {{ comment.text|escape }}</span>
            <span class="pull-right comment-author">by: {{ comment.author.name }}</span>
        {% else %}
            There are no comments!
        {% endfor %}
    </div>
{% endblock %}
