{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    {% if message is defined %}
        <div class="bg-{{ message_type }}">{{ message }}</div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
            <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        {% if not post.rateClicks %}
            There are no ratings
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}