{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    {% for post in posts %}
        {% if (loop.index % 2) %}<div class="row">{% endif %}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
                        <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
                    </div>
                    <div class="panel-body">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        {% if not (loop.index % 2) %}</div>{% endif %}
    {% endfor %}

{% endblock %}
