{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 pull-right">
			<div class="panel panel-default pull-right">
				<div class="btn-group" role="group_by" aria-label="Order by..">
				  <button type="button" class="btn btn-default"><a href="{{ path('home') }}">Date</a></button>
				  <button type="button" class="btn btn-default"><a href="{{ path('home',{'order':'rating'}) }}">Rating</a></button>
				</div>
			</div>
		</div>
	</div>
    {% for post in posts %}
		{% if (0 == loop.index0 % 2) %}
		<div class="row">
		{% endif %}
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
						<span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
					</div>
					<div class="panel-body">
						{{ post.content }}
					</div>
				</div>
			</div>
		{% if (1 == loop.index0 % 2 or loop.last ) %}
		</div>
		{% endif %}
    {% endfor %}

{% endblock %}