{% extends 'KodifyBlogBundle::base.html.twig' %}

{% block content %}
    <div class="container">
    <div class="row">
        {% for post in posts %}
            {% if loop.index0 > 0 and loop.index0 is even %}
                </div>
                <div class="row">
            {% endif %}
            <div class="panel panel-default col-md-6">
                <div class="panel-heading">
                    <a href="{{ path('view_post',{id: post.id}) }}">{{ post.title }}</a>
                    <span class="pull-right">by: {{ post.author.name }} on: {{ post.createdAt|date("m/d/Y") }}</span>
                </div>
                <div class="panel-body">
                    {{ post.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}